{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}


{% block body_base %}

<link href="{% static "css/upload.css" %}" rel="stylesheet">
<br/>
<center>
    <ul id="progressbar">
            <li class="active">Study Id Seeds</li>
            <li class="active">Anonymize Locally</li>
            <li class="active">Upload Images</li>
    </ul>
    <div style="width:800px; margin:0 auto;">
        <h2> Success!</h2>
        <p style="font-size:150%"> Hello {{ user }}, your <b> Anonymized </b> images were successfullly
        uploaded to the server </p>
</form>
</center>
{% endblock %}
